##################
#      Root      #
##################

# Default Code Owner
*                               @droans

# Install Script
install.sh                      @gadgetangel

# Misc
docs                            @gadgetangel @droans
*md                             @gadgetangel @droans

##################
# Extended Macro #
##################

# Requirements file
extended_macro/requirements.txt @droans @gadgetangel

# Examples
extended_macro/example/         @droans @gadgetangel
